.searchInput {
    font-size: 1rem;

    &__input {
        border: 1px solid #979797;
        border-radius: 7px;
        outline: none;
    }
    
    &__favoritesBtn {
        align-items: center;
        display: flex;
        margin-left: .5rem;
    }
}